<form class="bg-light p-4 rounded shadow-sm border " method="post" action="{{ path('app_login') }}">
    {% if error is defined and error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Adresse e-mail :</label>
        <input type="email" id="inputEmail" class="form-control" name="email"
            placeholder="exemple@halogari.yt" value="{{ last_username|default('') }}" required autofocus>
    </div>

    <div class="mb-3">
        <label for="inputPassword" class="form-label">Mot de passe :</label>
        <input type="password" id="inputPassword" class="form-control" name="password"
            placeholder="*****************" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <p><a class="text-orange" href="{{ path('app_forgot_password_request') }}"><small>Mot de passe oublié ? </small></a></p>

    <div class="text-center">
        <button type="submit" class="btn btn-orange">Se connecter</button>
    </div>

    <hr>
    <p class="text-center"><small>Pas encore de compte ?</small></p>
    <div class="text-center">
        <a class="btn btn-success" href="{{ path('app_register') }}">
            <i class="bi bi-person-plus"></i> S'inscrire
        </a>
    </div>
</form>
