<nav class="navbar fixed-top navbar-expand-lg bg-dark-subtle double-border-bottom">
	<div class="container">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('images/logo.png') }}" alt="Logo HaloGari" class="img-fluid"
				style="max-width: 120px; height:auto;">
		</a>
		<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
			<li class="nav-item align-self-center d-none d-lg-block">
				<a class="btn nav-link" href="{{ path('app_chercher') }}" title="Chercher un trajet">
					<i class="text-vert bi bi-search"></i>
					Chercher un trajet
				</a>
			</li>
			<li class="nav-item align-self-center d-block d-lg-none">
				<a class="btn nav-link" href="{{ path('app_chercher') }}" title="Chercher un trajet">
					<i class="text-vert bi bi-search"></i>
				</a>
			</li>
			<li class="nav-item align-self-center d-none d-lg-block">
				<a class="btn nav-link" href="{{ path('app_publier') }}">
					<i class="bi bi-plus-circle"></i>
					Publier un trajet
				</a>
			</li>
		</ul>


		<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-block">
			<li class="nav-item">
				{% if app.user is null %}
				<a class="btn nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modalConnexion"
					title="Se connecter">
					<i class="bi bi-box-arrow-in-right"></i> Se connecter
				</a>
				{% else %}
				<a class="btn nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false"
					aria-label="offcanvas navigation">
					<i class="bi bi-person"></i>
				</a>
				{% endif %}
			</li>
		</ul>

		<button class="navbar-toggler btn dropdown-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
			<i class="bi bi-person"></i>
		</button>

	</div>
</nav>


<div class="offcanvas offcanvas-end bg-dark-subtle" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	{% if app.user is null %}
	<div class="offcanvas-header">
		<div id="offcanvasRightLabel">
			<p><img src="{{ asset('images/logo.png') }}" alt="Logo HaloGari" class="img-fluid"
					style="max-width: 120px; height:auto;"></p>
		</div>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="list-group list-group-flush">
			<a href="{{ path('app_chercher') }}" class="list-group-item list-group-item-action bg-dark-subtle"
				title="Chercher un trajet">
				<i class="text-vert bi bi-search"></i>
				Chercher un trajet
			</a>
			<a href="{{ path('app_publier') }}" class="list-group-item list-group-item-action bg-dark-subtle"
				title="Publier un trajet">
				<i class="bi bi-plus-circle"></i>
				Publier un trajet
			</a>
			<a class="list-group-item list-group-item-action bg-dark-subtle" href="#" data-bs-toggle="modal"
				data-bs-target="#modalConnexion" title="Se connecter">
				<i class="bi bi-box-arrow-in-right"></i>
				Se connecter
			</a>
		</div>
	</div>
	{% else %}
	<div class="offcanvas-header">
		<div id="offcanvasRightLabel">
			<p><img src="{{ asset('images/logo.png') }}" alt="Logo HaloGari" class="img-fluid"
					style="max-width: 120px; height:auto;"></p>
			<h5>
				Bonjour
				{% if app.user is not null %}
				{{ app.user.prenom|e }},
				{% endif %}
			</h5>
		</div>

		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="list-group list-group-flush">
			<a href="{{ path('app_chercher') }}" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="text-vert bi bi-search"></i>
				Chercher un trajet
			</a>
			<a href="{{ path('app_publier') }}" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="bi bi-plus-circle"></i>
				Publier un trajet
			</a>
			<a href="{{ path('app_profile') }}" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="bi bi-person"></i>
				Mon profil</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="bi bi-signpost-2"></i>
				Mes trajets</a>
			<a href="#" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="bi bi-gear"></i>
				Paramètres</a>
			<a href="{{ path('app_logout') }}" class="list-group-item list-group-item-action bg-dark-subtle">
				<i class="bi bi-box-arrow-right"></i>
				Déconnexion</a>
		</div>
	</div>
	{% endif %}
</div>

<main class="flex-grow-1
				{% if app.request.attributes.get('_route') == 'app_home' %}
				pt-0
				{% else %}
				pt-5
				{% endif %}
				  pt-md-5">